body {
    padding-top: 56px;
}

header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Custom styles */
body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #343a40; 
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link {
    color: #ffffff; 
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: #17a2b8; 
}

/* Home Section */
#home {
    padding-top: 100px;
    text-align: center;
}

#home h1 {
    font-size: 3.5rem;
}

#home p {
    font-size: 1.25rem;
}

#about {
  opacity: 0; 
  transform: translateY(100px); 
  transition: opacity 0.8s ease-out, transform 0.8s ease-out; 
}

#about.active {
  opacity: 1; 
  transform: translateY(0); 
}

/* Features Section */
#features {
    padding: 50px 0;
}

.card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.07);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}




/* Events Section */
#events {
    padding: 50px 0;
}

.list-group-item {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #dee2e6; 
}

/* Gallery Section */
#gallery {
    padding: 50px 0;
}

.carousel-item img {
    border-radius: 10px;
}


/* Registration Section */
#regg {
    padding: 50px 0;
}

.form-group label {
    font-weight: bold;
    
}

.form-control {
    margin-left: 30%;
    border-radius: 20px;
    width: 60ch;
}

label{
    margin-left: 30%;
}

.invalid-feedback {
    margin-left: 31%;
}

.btn-primary {
    background-color: #17a2b8; 
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
}

.btn-primary:hover {
    background-color: #138496; 
}

/* Prizes Section */
#prizes {
    padding: 50px 0;
}

.card-title {
    font-weight: bold;
}

/* Footer */
footer {
    padding: 20px 0;
    background-color: #343a40; 
}

footer a {
    color: #ffffff; 
}

footer a:hover {
    color: #17a2b8; 
}
